<div class="gems-form" [formGroup]="form">
    <p-select
      [options]="bibleReadingEngine.$bibleBooks()"
      filter
      fluid
      size="small"
      placeholder="Select a book"
      optionLabel="name"
      optionValue="id"
      appendTo="body" formControlName="book"></p-select>
    <p-inputgroup>
      <p-input-number size="small" placeholder="Chapter" formControlName="chapter"></p-input-number>
      <p-button text>:</p-button>
      <p-input-number size="small" placeholder="Verse" formControlName="verse"></p-input-number>
      <p-button text>-</p-button>
      <p-input-number size="small" placeholder="Verse" formControlName="throughVerse"></p-input-number>
    </p-inputgroup>

    <textarea
      pTextarea
      fluid
      autoResize
      [spellcheck]="true"
      [maxLength]="275"
      formControlName="comment"></textarea>

    <h4>{{form.getRawValue()?.comment?.length}} / 275 Characters</h4>

    <p-button
      [disabled]="form.invalid"
      (click)="submitGem()"
      fluid
      size="small"
      icon="pi pi-send"
      [label]="gem() ? 'Update' : 'Submit'"></p-button>
    <p>Please remember that any comments you post will be visible immediately. We encourage you to share thoughts that are kind, respectful, and upbuilding for everyone. Thank you for contributing in a positive way!</p>
  </div>
