@let reading = bibleReadingEngine.$currentReading();
@let weeklyReading = bibleReadingEngine.$weeklyReadingSchedule();
<p-card [header]="$header()" subheader="{{reading?.date?.toISODate() | date: 'MMM d, y'}}">
  @for (chapter of reading?.reading; track $index) {
    <a [href]="bibleReadingEngine.bibleReadingLinkURL(chapter)" target="_blank">
      <h4>{{BibleReadingSchedule.books[chapter.bookId - 1].abbr}} {{chapter.fromChapter}} - {{chapter.toChapter}}</h4>
    </a>
  }
</p-card>

<div class="week-overview">

  <p-button size="small" rounded outlined icon="pi pi-arrow-right"></p-button>

  @for(reading of weeklyReading; track reading.date) {
    <p-card header="{{reading.date.toISODate() | date: 'MMM d, y'}}" [style]="{'width':'40vw'}">
      @for (chapter of reading.reading; track $index) {
        <a [href]="bibleReadingEngine.bibleReadingLinkURL(chapter)" target="_blank">
          <h4>{{BibleReadingSchedule.books[chapter.bookId - 1].abbr}} {{chapter.fromChapter}} - {{chapter.toChapter}}</h4>
        </a>
      }
    </p-card>
  }

  <p-button size="small" rounded outlined icon="pi pi-arrow-left"></p-button>

</div>
