:host {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  p-message {
    margin: 1rem;
    display: flex;

    ::ng-deep {
      .p-message {
        flex: 1;
        .p-message-content {
          padding: 0.1rem;
          .p-message-text {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .7rem;
            p {
              display: flex;
              flex: 1;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }

  p-avatar {
    ::ng-deep {
      img {
        object-fit: cover;
      }
    }
  }

  .main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem 0 1rem 1rem;

    .user-profile {
      position: relative;

      i {
        position: absolute;
        bottom: -1rem;
        right: calc(50% - 1.2rem);
        color: var(--p-primary-700);

        padding: .5rem;
        background: white;
        border-radius: 100%;
        font-size: 1.2rem;
      }
    }

    .details {
      flex: 1;
      flex-direction: column;
      overflow: hidden;

      .user-profile {}
      .settings {

      }

      .avatars {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        width: calc(100%);

        p-avatar {
          position: relative;
          transition: all .2s ease-in-out;

          &.user-active {
            border-color: #5fb15f;
            animation: pulse 1s infinite;
          }
        }

      }

      h3 {
        margin: 0 0 .5rem 0;
        font-size: 1rem;
        text-align: left;
        color: var(--p-primary-700);
      }
      h2 {
        font-size: .8rem;
        margin: 0;
      }
      h4 {
        font-size: .6rem;
        margin: 0;
      }
    }


  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    border-color: #5fb15f;
  }

  50% {
    transform: scale(.9);
    border-color: #79d379;
  }

  100% {
    transform: scale(1);
    border-color: #5fb15f;
  }
}
