@if (userEngine.$signedInUser()) {
  <div class="main">
    <div class="user-profile">
      <i class="pi pi-camera"></i>
      @if ($isUpdatingAvatar()) {
        <p-avatar
          size="xlarge"
          shape="circle">
          <p-progress-spinner></p-progress-spinner>
        </p-avatar>
      } @else {
        <p-avatar
          size="xlarge"
          shape="circle"
          [style]="{height: '8rem', width: '8rem'}"
          [icon]="userEngine.$signedInUser()?.photoURL ? undefined : 'pi pi-user'"
          [image]="userEngine.$signedInUser()?.photoURL ?? undefined"
          (click)="updateProfileImage()">
        </p-avatar>
      }
    </div>

    @if (!iconOnly()) {
      <div class="details">

        <div class="container">
          <div class="flex with-space">
            <div class="user-profile">
              <h2>{{ getUserName() }}</h2>
              <h4>Joined: {{ userEngine.$signedInUser()?.metadata?.creationTime | date: 'MMM, d, y' }}</h4>
            </div>
            <div class="settings">
              <p-button rounded text icon="pi pi-cog" (click)="userEngine.openSettingsDialog()"></p-button>
            </div>
          </div>
          <p-divider></p-divider>
        </div>


        <div class="avatars">
          <p-avatar-group>
            @for (user of $users(); track user.uid) {
              <p-avatar
                size="large"
                [class]="{'user-active': userEngine.$activeUids().includes(user.uid)}"
                [label]="user.photoURL ? undefined : user.email?.[0]"
                [pTooltip]="user.email ?? undefined"
                [image]="user.photoURL ?? undefined"
                [fitContent]="false"
                shape="circle">
              </p-avatar>
            }
          </p-avatar-group>
        </div>

        <p-divider></p-divider>

        <h3>{{ ($completed() / $totalProgress()) * 100 }}% / 100% <small>| Completed</small></h3>
      </div>
    }
  </div>

}



