@if(items().length != 0) {
  <p-carousel [circular]="true" [value]="items()" [autoplayInterval]="7000" [numVisible]="1.5" [showNavigators]="false">
    <ng-template #item let-item>
      @let verse = item.chapter + ':' + item.verse + (item.throughVerse ? '-' + item.throughVerse : '');
      <p-card>
        <div class="header">{{getBook(item)?.name}} {{verse}}</div>
        <div class="comment">
          <h4>{{item.createdAt | date: 'short'}}</h4>
          {{item.comment}}
        </div>
      </p-card>
    </ng-template>
  </p-carousel>
}
