:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p-avatar {
    ::ng-deep {
      img {
        object-fit: cover;
      }
    }
  }

  .messages {
    margin: 1rem;
  }

  .main {
    flex: 1;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem 0 1rem 1rem;

    .user-profile {
      position: relative;

      i {
        position: absolute;
        bottom: -1rem;
        right: calc(50% - 1.2rem);
        color: var(--p-primary-700);

        padding: .5rem;
        background: white;
        border-radius: 100%;
        font-size: 1.2rem;
      }
    }

    .details {
      flex: 1;
      flex-direction: column;
      overflow: hidden;

      .avatars {
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
        width: calc(100% + 1rem);
      }

      h3 {
        margin: 0rem 0 .5rem 0;
        font-size: 1rem;
        text-align: left;
        color: var(--p-primary-700);
      }
      h2 {
        font-size: .8rem;
        margin: 0;
      }
      h4 {
        font-size: .6rem;
        margin: 0;
      }
    }


  }
}
