<div class="search">
    <p-fluid>
      <p-icon-field>
        <p-inputicon class="pi pi-search"></p-inputicon>
        <input
          placeholder="Search"
          pInputText type="text"
          [autocomplete]="false"
          [spellcheck]="false"
          [(ngModel)]="$searchTerm">

        @if($searchTerm().length > 0) {
          <p-inputicon
            (click)="$searchTerm.set('')"
            class="pi pi-times-circle"></p-inputicon>
        }
      </p-icon-field>
    </p-fluid>
</div>
<div class="gems">
  @for (item of $searchedGems(); track item.id) {
    <app-gem-card [item]="item"></app-gem-card>
  }
</div>
