:host {
  flex: 1;

  .navigation {
    display: flex;
    flex-direction: column;
    margin: 0;
    li {
      display: flex;
      gap: 1rem;
      list-style: none;
      padding: 1rem;
      h4 {
        flex: 1;
        margin: 0;
      }

      &.active {
        background: var(--p-primary-50);

        i {
          color: var(--p-primary-700);
          font-weight: 800;
        }
      }
    }

    &.horizontal {
      flex: 1;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 55px;
      border-top: 1px solid var(--p-primary-50);

      li {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: .3rem;
        padding: 0;
        height: inherit;

        &.active {
          background: unset;
        }

        h4 {
          flex: none;
          font-size: .6rem;
        }
      }
    }
  }
}
