

// font-family: "Fredoka", sans-serif;
// font-family: "TASA Explorer", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=TASA+Explorer:wght@400..800&display=swap');
@import "primeicons/primeicons.css";

html {
  font-family: "TASA Explorer", sans-serif;
  min-height: 120vh;
}

body {
  .flex {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
}
