@if($style() !== 'withBottom') {
  <div class="nav">
    <div class="title">

      @if($style() === 'withSide') {
        <p-button text icon="pi pi-bars" (click)="toggleMenu()"></p-button>
      }

      @if($style() === 'withTop') {
        <img src="icons/icon-only/icon-only-96x96.png" alt="">
      }


      @if($style() === 'withSide') {
        <p-drawer #DrawerRef appendTo="body" styleClass="drawer" [(visible)]="userEngine.$drawerToggle" closable="true">
          <ng-template #headless>
            <app-menu></app-menu>
          </ng-template>
        </p-drawer>
      }


    </div>
    <div class="right">
      <h4 class="date-time">{{ bibleReadingEngine.$currentDate().toJSDate() | date: 'MMM, d | h:mm a' }}</h4>
      @if (userEngine.$signedInUser()) {
        <p-avatar
          shape="circle"
          [label]="userEngine.$signedInUser()?.photoURL ? undefined : userEngine.$signedInUser()?.email?.[0] ?? ''"
          [image]="userEngine.$signedInUser()?.photoURL ?? undefined"
          (click)="popover.toggle($event)"></p-avatar>
        <p-popover #popover >
          <div class="links" [style]="{display: 'flex', flexDirection: 'column', gap: '.5rem'}">
            <p-button fluid outlined size="small" icon="pi pi-download" label="Check For Updates" (click)="userEngine.checkForUpdates()"></p-button>
            <p-button fluid outlined size="small" label="Logout" (click)="userEngine.onLogout()"></p-button>
            <p-dialog></p-dialog>
          </div>
        </p-popover>
      } @else {
        <p-button rounded text icon="pi pi-user" size="small" (click)="popover.toggle($event)"></p-button>
        <p-popover #popover>
          <app-login></app-login>
        </p-popover>
      }
    </div>
  </div>
} @else {
  <div class="nav-bar">
    <app-menu [$orientation]="'horizontal'"></app-menu>
  </div>
}

